### Stroop test data analysis

I will analyse data gathered during Stroop experiment.

Assumed significance level $\alpha=0.05$

In [1]:
import pandas as pd

In [2]:
from scipy.stats import t as t_dist

In [3]:
%matplotlib inline

In [4]:
dane = pd.read_csv('stroopdata.csv')

In [5]:
dane.head()

   Congruent  Incongruent
0     12.079       19.278
1     16.791       18.741
2      9.564       21.214
3      8.630       15.687
4     14.669       22.803

Dependent variable is time in which subject completes the exercise.
Independent variable is type of experiment (congruent vs. incongruent)

$H_0:\mu_{Congruent} = \mu_{Incongruent}$

Mean value of time needed to complete is equal in both groups

$H_a:\mu_{Congruent} <> \mu_{Incongruent}$

Mean value of time needed to complete is different in both groups

I would like to perform two-tailed t-test for paired samples, because experiment had within-subject design.

In [6]:
dane['diff']=dane['Incongruent']-dane['Congruent']

In [7]:
d = dane['diff'].sum()/24
print d

7.96479166667

$d = \mu_{Congruent} - \mu_{Incongruent} = 7.96$

In [8]:
s = (dane['diff'].apply(lambda x: (x-dane['diff'].sum()/24)**2).sum()/23)**.5
print s

4.86482691036

$s = 4.86$

In [9]:
t = d/(s/24**.5)
print t

8.02070694411

In [10]:
print t_dist.ppf(0.025, 23)

-2.06865761042

Critical values for two-tailed t-test at $\alpha=0.05$ and 23 df are +/-2.069

In [11]:
print 2*(1 - t_dist.cdf(t, 23))

4.10300058373e-08

p-value for this t-test is $4.10300058373e-08$

As p-value for this test is lower from accepted $\alpha$ I can reject null hypothesis about equality of means.
This result match with expectations. Longer times for incongruent group can be casued by some kind of cognitive dissonance, when read word states something other than we can observe. It seems that judging colours of words when they are connected with their meaning is easier.

More experiments that can be tried[1]:
* Turn the words upside down or rotate them 90 degrees.
* Turn the words "inside out."
* Use non-color words such as "dog" or "house."
* Use nonsense words such as "kiw" or "thoz."
* Compare long words to short words.
* Use emotional words such as "sad" or "happy" or "depressed" or "angry."
* Color only half of the word or color only the first and last letter of each word.

Citations:

[1]https://faculty.washington.edu/chudler/words.html#seffect